html, body {
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1; 
}
  
.bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  
    overflow: hidden;
    border: 0 solid white;
    background-color: #181717;
    font-size: 20px;
  }

li a {
    display: block;
    color: #f8f8f8;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
}
li a:hover:not(.active) {
    color: #81bfe3;
    background-color: #181717;
}
li a.active {
    color: #2a2a2a;
    background-color: #fad87b;
} 
.rightAlign {
    margin-left: auto;
    padding: 20px 20px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.rightAlign button {
    font-size: 18px;
    padding: 10px 10px;
    background-color: #fad87b;
    color: #2a2a2a; 
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.rightAlign button:hover {
    background-color: #2a2a2a;
    color: #fad87b;
}
body {
    background-color: #242222;
    color: white;
}

footer {
    background-color: #181717;
    text-align: center;
    padding: 30px;
    width: 100%; 
}
li a.about {
    color: #81bfe3;
    background-color: #181717;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

/* ---------------------------- inverted --------------------------- */
body.inverted .rightAlign button {
    background-color: #7ba7c9;
    color: white;
}

body.inverted .rightAlign button:hover {
    background-color: #ffffff;
    color: #044062;
}

body.inverted {
    background-color: rgb(245, 241, 233);
    color: black;
}

body.inverted li a.active {
    color: rgb(255, 255, 255);
    background-color: #7ba7c9;
}

body.inverted .bar ul {
    background-color: #caddf8;
}
body.inverted li a {
    color: rgb(0, 0, 0);
}
body.inverted li a:hover:not(.active) {
    color: #fa9907 ;
    background-color: #caddf8;
}

body.inverted footer {
    background-color: #caddf8;
}

body.inverted li a.about {
    color: #fe9605 ;
    background-color: #caddf8;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
body.inverted .corral-wrapper {
    background: hsl(57, 100%, 93%);
}
body.inverted .header {
    background-color:rgb(245, 241, 233);
}
body.inverted .header h1 {
    background: linear-gradient(120deg, #7ba7c9 100%, transparent 0%);
    color: white;
}
body.inverted .photo-and-text {
    background-color: #bfd0db;
}
body.inverted .about-text h2 {
    font-size: 40px;
    text-align: center;
    color: #fff4a0;
    text-shadow:
    0 0 5px #ffec7e,
    0 0 10px #6fa0d3,
    0 0 20px #466384,
    0 0 40px #283645;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}
body.inverted .kayli{
    border: 6px solid #fbf5c3;
}
body.inverted .coursework-list li {
    color: #381f76;
}
body.inverted .accordion-panel {
    background-color: #bfd0db;
    color: #222; 
}
body.inverted .accordion-panel ul {
    color: #000000;

}
body.inverted .edu-highlight {
    color: #114766;
}
body.inverted .edu-highlight2 {
    color: #fff4a0;
}
body.inverted .job-entry strong {
    color: #482968;
}
body.inverted .edu-date {
    color: #ff8400;
  }
/* -------------------------------- end inverted ------------------------------ */
.corral-wrapper {
    overflow: hidden;
    width: 100%;
}  
.picture-corral.scroll {
    display: flex;
    gap: 1rem;
    animation: scroll-left 15s linear infinite;
}
  
.picture-corral img {
    height: 130px;
    border-radius: 12px;
}
  
@keyframes scroll-left {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-areas:
      "header"
      "corral"
      "photo-and-text";
    gap: 20px;
}
.header {
    grid-area: header;
    background: #242222;
    color: white;
    padding: 20px;
    text-align: center;
}
.header h1 {
    background: linear-gradient(120deg, #fad87b 100%, transparent 0%);
    font-size: 2.5rem;
    font-family: 'Poppins', cursive;
    color: #222;
    padding: 0px;
    border-radius: 10px;
    font-size: 70px;
    display: inline-block;
    animation: wave 1s infinite alternate;

}
@keyframes wave {
    0%, 100% { transform: rotate(-3deg);}
    50% { transform: rotate(3deg);}
}
.corral-wrapper {
    grid-area: corral;
    background: #01070a;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
    border-color: burlywood;
    
}
.photo-and-text {
    grid-area: photo-and-text;
    display: grid;
    grid-template-columns: 30% 70%; 
    gap: 10px; 
    background: #333;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
}
.my-photo {
    width: 100%;
    max-width: 400px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .photo-and-text {
      grid-template-columns: 1fr;
    }
}
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100%; 
}
.about-text h2 {
    font-size: 40px;
    text-align: center;
    color: #d1ecff;
    text-shadow:
    0 0 5px #83caf3,
    0 0 10px #5699c0,
    0 0 20px #4c4d4e,
    0 0 40px #333333;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}
.about-text p {
    font-size: 20px;
}
.kayli {
    width: 300px;
    height: auto;
    border: 6px solid #555;
    border-radius: 12px;
    margin-top: 80px;
}
.accordion {
    margin-top: 1.5em;
    font-family: 'Poppins', sans-serif;

}
.accordion-btn {
    background-color: #fad87b;
    color: #222;
    cursor: pointer;
    padding: 14px 20px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-btn.active, .accordion-btn:hover {
    background-color: #377695;
    color: #fff;
}
.accordion-panel {
    padding: 0 20px 12px 20px;
    background-color: #333;
    color: #fad87b;
    border-radius: 0 0 8px 8px;
    display: none;
    overflow: hidden;
}
.accordion-panel ul {
    margin-left: 1.2em;
    color: #fff;
    font-size: 18px;
}
.job-entry {
    margin-bottom: 1em;
}
.edu-highlight {
    color: #bce1f7;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.3px;
}
.edu-highlight2 {
    color: #f9fffd;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.3px;
}
.job-entry strong {
    color: #81bfe3;
    font-size: 20px;
}
.edu-date {
    color: #fad87b;
    font-size: 0.95em;
    margin-left: 6px;
  }