html, body {
    height: 100%;           /* Full height to enable flexbox */
    margin: 0;              /* Remove default margin */
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;                /* Takes up all available space */
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0 solid white;
    background-color: #b9bec0;
  }
li {
    float: left;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 18px
  }
li a:hover:not(.active) {
    background-color: #9b9f9f;
}
li a.active {
    color: white;
    background-color: #ece57e;
}  
body {
    background-color: whitesmoke;
}
footer {
    background-color: #b9bec0;
    text-align: center;
    padding: 20px;
    width: 100%; 
}
